<% provide(:title, "Edit user") %>
<h1>Editing user</h1>
<h2>Update your profile</h2>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Password Confirmation" %>
	<%= f.password_field :password_confirmation %>

	<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

<% end %>

<%= gravatar_for @user %>
<%= link_to "change", "http://gravatar.com/emails", :target=>["_blank"] %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
